.products-container {
  padding: 20px 40px; /* Sağdan soldan boşluk eklendi */
  margin: 0 auto; /* Sayfayı ortalamak için margin eklendi */
  max-width: 1200px; /* Maksimum genişlik ayarlandı */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  color: var(--foreground);
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Bir satırda 3 kart */
  gap: 20px;
  justify-items: center;
}

.product-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.product-info p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.dark .product-card {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.dark .product-card:hover {
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
}

.product-description {
  font-size: 0.85em; /* Daha küçük font boyutu */
  color: #777;
  padding: 5px 10px;
}

.dark .product-description {
  color: #aaa;
}

h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: var(--foreground);
}

.products-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  background-color: rgba(240, 240, 240, 0.1);
  color: var(--foreground);
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.dark .products-title {
  background-color: rgba(30, 30, 30, 0.5);
}

.breadcrumb {
  font-size: 0.85em;
  margin-bottom: 20px;
  color: #777;
  text-align: left;
  width: 100%;
}

.dark .breadcrumb {
  color: #aaa;
}

.breadcrumb a {
  color: #007bff;
  text-decoration: none;
}

.dark .breadcrumb a {
  color: #3b82f6;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .product-cards {
    grid-template-columns: 1fr; /* Mobilde tek sütun */
  }

  .product-card {
    display: flex;
    flex-direction: row; /* Satır düzeni */
    align-items: center;
    height: auto;
  }

  .product-image {
    width: 40%; /* Sol tarafı resim kaplasın */
    height: auto;
    margin-right: 10px;
  }

  .product-info {
    width: 60%; /* Sağda yazılar */
    display: flex;
    flex-direction: column;
  }

  .product-description {
    display: block; /* Description gösterilsin */
  }

  h2 {
    font-size: 1em; /* Başlık boyutu mobilde küçültüldü */
    margin: 0;
    display: flex;
    align-items: center;
  }

  .product-slug {
    display: none;
  }
} 